@import 'variables-functions';
@import 'animations';

footer {
    background-color: $header-color;
    font-size: 1.5rem;
    padding: 1rem 0;
    margin-top: 10rem;
    animation: appear 2s ease-in-out 1 forwards;

    @include flex-center-column;

    gap: 0.7rem;

    h3 {
        font-size: 1.5rem;
    }
    

    ul {
        list-style: none;
        
        li {
            cursor: pointer;
            text-align: center;
        }
    }
}

.footer_icons {

    @include flex-center-line;
    gap: 0.5rem;

    svg {
        font-size: 1.5rem;
        fill: $text-color;
    }
}
