@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto+Mono:wght@500;600;700&display=swap");
@keyframes pop {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
    opacity: 1;
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@keyframes slide-in {
  from {
    transform: translateX(-11rem);
    opacity: 0;
  }
  to {
    transform: translateX(0rem);
    opacity: 1;
  }
}
@keyframes appear-pop {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes pop-two {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes is-bouncing {
  50% {
    transform: translateY(0.3rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
@keyframes is-gone {
  to {
    transform: translateY(4rem);
    opacity: 0;
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.warning_title_container h1 {
  text-align: center;
  padding-top: 4rem;
  font-size: 2.5rem;
  opacity: 0;
}

.game_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5rem;
  opacity: 0;
  animation: appear 2s ease-in-out 0.5s 1 forwards;
}

.game_content {
  width: 27rem;
  height: 18rem;
  border-radius: 0.8rem;
  background-color: #577C7F;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25% 75%;
}
.game_content h1 {
  font-size: 2rem;
  align-self: flex-end;
  justify-self: center;
  opacity: 0;
  animation: appear-pop 0.5s 1.5s 1 forwards;
}
.game_content img {
  width: 8rem;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  opacity: 0;
  animation: appear-pop 0.5s 1.5s 1 forwards;
}
.game_content div {
  margin: 2rem;
  position: relative;
  height: 9.2rem;
  width: 9.2rem;
  background-color: #003E43;
  border-radius: 50%;
}
.game_content div:nth-child(3) {
  transform: rotate(60deg);
}
.game_content div:nth-child(4) {
  transform: rotate(-120deg);
}

.selector_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5rem 0 8rem 0;
  display: none;
}
.selector_container img {
  width: 6rem;
  cursor: pointer;
  opacity: 0;
}
.selector_container img:nth-child(1) {
  animation: appear-pop 0.5s 1.5s 1 forwards;
}
.selector_container img:nth-child(2) {
  animation: appear-pop 0.5s 1.7s 1 forwards;
}
.selector_container img:nth-child(3) {
  animation: appear-pop 0.5s 1.9s 1 forwards;
}
.selector_container img:nth-child(4) {
  animation: appear-pop 0.5s 2.1s 1 forwards;
}
.selector_container img:nth-child(5) {
  animation: appear-pop 0.5s 2.3s 1 forwards;
}

.warning_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  margin: 3rem 0 4rem 0;
  animation: appear-pop 0.5s 1 forwards;
}
.warning_container h1 {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 1rem;
}
.warning_container p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
}

@media (min-width: 720px) {
  .content_presentation {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 30% 70%;
    margin-bottom: 5rem;
    height: 70%;
  }
  .warning_title_container {
    grid-area: 1/1/2/2;
  }
  .game_container {
    grid-area: 2/1/3/2;
    margin-top: 0;
    align-self: center;
    width: 100%;
  }
  .selector_container {
    grid-area: 2/2/3/3;
    align-self: center;
    gap: 2rem;
    max-width: 25rem;
    margin: 0;
    padding: 0;
  }
  .warning_container {
    grid-area: 2/2/3/3;
    align-self: center;
    justify-self: start;
  }
}
@media (min-width: 1000px) {
  .game_container {
    transform: scale(1.2);
  }
  .selector_container img {
    width: 7rem;
  }
}/*# sourceMappingURL=Game.css.map */