@import 'variables-functions';

header {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    padding: 1.5rem 2rem 0.3rem 2rem;
    background-color: $header-color;
    height: 6.5rem;
    
    a{
        text-decoration: none;
        color: $text-color;

        &:hover {
            color: $hover-color;
        }

    }
}


.logo_container {
    align-self: center;

    a {
        font-size: 2rem;
        position: relative;

        &::after {
            content: '';
            background-image: url(../imgs/logo.png);
            background-size: cover;
            width: 4.5rem;
            height: 4.5rem;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            opacity: 0.5;
        }

        &:hover::after {
            animation: pop 0.6s ease-in 1 backwards;
        }
        
    }

} 

.nav_container {

    align-self: center;

    ul {
        font-size: 3rem;
        list-style: none;
        display: flex;
        justify-content: end;
        align-items: end;
        gap: 1.5rem;
    }  
}

@keyframes pop {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.2);
        opacity: 1;
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}

