@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Roboto+Mono:wght@500;600;700&display=swap");
@keyframes pop {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
    opacity: 1;
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@keyframes slide-in {
  from {
    transform: translateX(-11rem);
    opacity: 0;
  }
  to {
    transform: translateX(0rem);
    opacity: 1;
  }
}
@keyframes appear-pop {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes pop-two {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes is-bouncing {
  50% {
    transform: translateY(0.3rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
@keyframes is-gone {
  to {
    transform: translateY(4rem);
    opacity: 0;
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.presentation_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8rem;
  margin-top: 10rem;
}

.title_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  position: relative;
  height: 15rem;
  width: 23rem;
  animation: appear 2s ease-in-out 1 forwards;
}
.title_container img {
  width: 10rem;
  opacity: 0;
  animation: appear 2s ease-in-out 1s 1 forwards;
}
.title_container::before {
  content: "";
  position: absolute;
  background-color: #D9D9D9;
  height: 100%;
  width: 0.1rem;
  left: 0;
}
.title_container::after {
  content: "";
  position: absolute;
  background-color: #D9D9D9;
  width: 100%;
  height: 0.1rem;
  top: 0;
}

.title_content {
  font-size: 3rem;
}
.title_content::after {
  content: "";
  position: absolute;
  background-color: #D9D9D9;
  width: 50%;
  height: 0.1rem;
  bottom: 0;
  left: 0;
}
.title_content::before {
  content: "";
  width: 11rem;
  height: 100%;
  background-color: #003E43;
  position: absolute;
  top: 0;
  left: -11rem;
  z-index: 1;
}
.title_content h1 {
  animation: slide-in 1.5s ease-in 1s 1 forwards;
  opacity: 0;
}
.title_content h1:hover {
  color: #A6281C;
  cursor: default;
}
.title_content h1::after {
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 10rem;
  height: 15rem;
  right: -12rem;
  background-color: #003E43;
  opacity: 0;
  z-index: 1;
}
.title_content h1:nth-child(1)::after {
  background-image: url(../imgs/rock-hand.png);
}
.title_content h1:nth-child(2)::after {
  background-image: url(../imgs/paper-hand.png);
  top: -3rem;
}
.title_content h1:nth-child(3)::after {
  background-image: url(../imgs/scissors-hand.png);
  top: -5rem;
}
.title_content h1:nth-child(4)::after {
  background-image: url(../imgs/lizard-hand.png);
  top: -8rem;
}
.title_content h1:nth-child(5)::after {
  background-image: url(../imgs/spock-hand.png);
  top: -11rem;
}
.title_content h1:hover::after {
  opacity: 1;
  animation: pop-two 0.5s ease-in 1 forwards;
}

.know_more_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 12rem 0 6rem 0;
  animation: appear 2s ease-in-out 1 forwards;
  display: none;
}
.know_more_content article {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  text-align: justify;
}

.game_history_content {
  color: #003E43;
  background-color: #577C7F;
  margin: 0 2.5rem 6rem 2.5rem;
  padding: 2.5rem;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 80rem;
}
.game_history_content img {
  width: 15rem;
  animation: rotate 10s ease-in-out infinite reverse forwards;
}

.rules_img_container {
  position: relative;
  width: 19rem;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: rotate 15s ease-in-out infinite forwards;
}
.rules_img_container img:nth-child(2) {
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
}
.rules_img_container img:nth-child(3) {
  top: 4.6rem;
  right: 0;
}
.rules_img_container img:nth-child(4) {
  right: 2rem;
  bottom: 1.5rem;
}
.rules_img_container img:nth-child(5) {
  left: 2rem;
  bottom: 1.5rem;
}
.rules_img_container img:nth-child(6) {
  top: 4.6rem;
  left: 0;
}

.game_rules {
  border: solid 0.2rem;
  padding: 2.5rem;
  border-radius: 0.8rem;
  margin: 0 2.5rem 3rem 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  max-width: 80rem;
}

.hand_img {
  position: absolute;
  width: 7rem;
  animation: rotate 15s ease-in-out infinite reverse forwards;
}

.arrow_img {
  width: 12rem;
}

@media (min-width: 1000px) {
  .title_container {
    width: 25rem;
    height: 17rem;
    transform: scale(1.2);
  }
  .game_history_content {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 4rem;
    margin-left: 6rem;
    margin-right: 6rem;
  }
  .game_history_content article {
    font-size: 2.3rem;
  }
  .game_history_content img {
    justify-self: center;
  }
  .game_rules {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 4rem;
    margin-left: 6rem;
    margin-right: 6rem;
  }
  .game_rules article {
    font-size: 2.3rem;
  }
  .game_rules div {
    justify-self: center;
  }
}/*# sourceMappingURL=Home.css.map */