@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Roboto+Mono:wght@500;600;700&display=swap');

$background-color: #003E43; 
$text-color: #D9D9D9; 
$header-color: #065856;
$hover-color: #A6281C;
$section-color: #577C7F;

$principal-font: 'Roboto Mono', monospace;
$secundray-font: 'Lato', sans-serif;


@mixin flex-center-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@mixin flex-center-line {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin after-hand-hover {
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 10rem;
    right: -12rem;
    background-color: $background-color;
    opacity: 0;
}


