@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500;600;700&display=swap');

$background-color: #003E43; 
$text-color: #D9D9D9; 
$header-color: #065856;
$hover-color: #A6281C;

$principal-font: 'Roboto Mono', monospace;


@mixin flex-center-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@mixin flex-center-line {
    display: flex;
    align-items: center;
    justify-content: center;
}


